@import "./mixins";

.home {
  margin: 3% 10%;

  p {
    padding: 1rem 0;
    color: $text-color;
    font-size: 1.3rem;
  }
  h2 {
    color: $text-color;
    font-size: 2rem;
  }

  background-color: $background-color;
}
