$background-color-nav: #fff;
$background-color: #62478A;
$border-color: #e5e5e5;
$link-color: #62478A;
$link-hover-color: darken(#ffff00, 20%);
$link-active-color: #62478A;
$text-color: #fff;

@mixin flex-direction($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
