@import "./mixins";

.navbar {
  padding: 1rem;
  background-color: $background-color-nav;
  border-color: $border-color;
  &-nav {
    @include flex-direction(row);
    li {
      &::before {
        content: "|";
        margin: 0 8px;
        color: $link-color;
      }
    }
  }
  &-nav > li > a {
    transition: all 0.3s ease-in-out;
    color: $link-color;
    &:hover,
    &:focus {
      color: $link-hover-color;
      & > .active > a,
      & > .active > a:hover,
      & > .active > a:focus {
        color: $link-active-color;
      }     
    }
  }
  .container {
    display: flex;
    justify-content: flex-end;
    margin: 0 10%;
  }
}

.title {
  h1 {
    font-size: 3rem;
    color: $text-color;
  }
  margin-right: auto;
}
