@import './buttonColors.scss';
$button-padding: 15px;

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  width: 100%;
  height: 100%;
}

.calculator-display {
  font-size: 4rem;
  font-weight: bold;
  text-align: right;
  padding: 10px;
  border: 1px;
  grid-column: 1 / span 4;
  background-color: darken($number-color, 40%);
  color: $display-color;
}

.operator {
  background-color: $operator-color;
  padding: $button-padding;
  font-weight: 700;

  &:hover {
    opacity: 0.8;
  }
}

.number {
  background-color: $background-color-nav;
  padding: $button-padding;
  &[value] {
    color: white;
  }

  &:hover {
    opacity: 0.6;
  }
}

.number[value="0"] {
  grid-column: 1 / span 2;
  padding: $button-padding;
}

button {
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
}
